# Compiled output
/node_modules
/dist

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Environment variables
.env
.env.*

# OS
.DS_Store

# Documentation
*.txt
