<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/home.css" />

    <title>TDT Chatbot</title>
  </head>
  <body>
    <div class="container">
      <div class="welcome">
        <h1 class="welcome__title">Welcome to TDT Chatbot</h1>
        <p class="welcome__subtitle">
          Great to see you here! Check out
          <a href="https://github.com/iamphduc/tdt-chatbot" target="_blank">my github repository</a>
          for more information.
        </p>
      </div>

      <div class="section">
        <a class="btn" href="/setting">Move to setting page</a>
      </div>

      <div class="section">
        <div class="gallery">
          <div class="gallery__item">
            <img class="gallery__image" src="images/1_login.jpg" alt="Login" />
            <p class="gallery__title">Login</p>
          </div>
          <div class="gallery__item">
            <img class="gallery__image" src="images/2_help.jpg" alt="help" />
            <p class="gallery__title">Help</p>
          </div>
          <div class="gallery__item">
            <img class="gallery__image" src="images/3_week.jpg" alt="week" />
            <p class="gallery__title">Week</p>
          </div>
        </div>
      </div>

      <footer class="footer">
        <p>TDT Chatbot by <a href="https://github.com/iamphduc" target="_blank">iamphduc</a></p>
      </footer>
    </div>
  </body>
</html>
